@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

:root {
    --box: 5.3rem;
    --player: 5.1rem;
}

.body {
    max-height: 100vh;
    max-width: 100vw;
    /* overflow: hidden; */
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: #d4d9e0;

    overflow: hidden;
    /* background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(100, 43, 115, 1) 0%, rgba(4, 0, 4, 1) 90%); */
}

.title {
    display: flex;
    align-items: center;
    background-color: #5058c2;

}

.game-title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 5rem;
    color: white;
    justify-self: end;
}

.controls-panel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-width: 19rem;
    border-radius: 3px;
    margin-left: 6rem;

}

.panel {
    /* height: 100%;
    width: 100%; */
    display: flex;
    justify-self: end;
    flex-direction: row-reverse;
    margin-left: 15rem;
    /* background-color: #5058c2; */
}

.game-board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.control-panel {
    color: rgba(37, 37, 37, 0.299);
    display: flex;
    height: 91%;
    width: 97%;
    border-radius: 3px;
}

.playground {
    display: flex;
    flex-direction: row;
    background: linear-gradient(1deg, #aec8da 0%, #fbfcfd 100%);
    position: relative;
    left: 3rem;

    background: #80d5a6;
    border: 5px dashed mediumseagreen;
    box-shadow: 0 0 0 2.5px #226741, 0 0 0 12.5px #fff, inset 0 0 0 2.5px #226741, 0 5px 10px 15px rgba(0, 0, 0, 0.5), inset 0 0 0 6px #fff, inset 0 0 100vw 100vw beige;
    color: mediumseagreen;

    text-shadow: 0 2px #fff;
}

.playground-wrapper {
    .playground-wrapper {

        justify-content: center;
        align-content: center;
        display: flex;

        margin: 1rem;

    }
}

.player {
    height: var(--player);
    width: var(--player);
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    margin: 1px;
    background-image: url('../images/giphy.gif');
    background-size: cover;
    z-index: 1;
    display: flex;
    align-items: end;
    justify-content: end;
    transition: top 1s ease, left 1s ease
}

#player1 {
    transform: rotateY(180deg);
    background-image: url('../images/giphy.gif');
}

#p1 {
    transform: rotateY(180deg);

}

.tile {
    height: var(--box);
    width: var(--box);
    background-image: url('../images/grassland-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

}

.row {
    display: flex;
    flex-direction: column;
    margin: 1px;
}


.p1-camp {
    background-color: #38cfb9;
    background-image: url('../images/enemy-camp.png') !important;
    background-size: cover;
}



.row:last-child>.tile:last-child {

    background-color: #5058c2;
    background-image: url('../images/enemy-camp.png');
    background-size: cover;
}

.mine {
    background-color: whitesmoke;
    background-image: url('../images/exp.gif');
    background-size: cover;
}

#logs {
    min-width: 8rem;
}

.pAll {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.136);
    border: 1px solid gainsboro;
    padding: 1px;
    border-radius: 4px;
}

button {
    padding: 1rem;
    border: 3px;
}

.player-lose {
    transition: width 2s, height 2s, transform 2s;
    transform: rotate(45deg)
        /* transition: top 1s ease,left 1s ease; */
}

@media only screen and (max-width: 600px) {
    .wrapper {
        flex-direction: column-reverse;
    }
    
    .game-title{
        writing-mode: horizontal-tb;
        text-orientation: mixed;
        font-size: 3rem;
        color: white;
        justify-self: center;
    }
    .panel {
        /* height: 100%;
        width: 100%; */
        display: flex;
        justify-self: start;
        flex-direction: column;
        margin-left: 0;
        /* background-color: #5058c2; */
    }
    .game-board {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: space-evenly;
    }
}